[default]
aws_access_key_id = AKIA3J3UHE32FSKCJXOS
aws_secret_access_key = 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
region = us-east-2
output = json

[crashbytes-prod]
# (filled in via SSO, see 1Password vault)
